/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #2d2d2d;
  color: aliceblue;
}

/*nav*/
#nav {
  background-color: #e70000;
}

nav a {
  color: rgb(255, 254, 255) !important;
}

.nav-link {
  white-space: nowrap;
  height: 100%;
}

.nav-item {
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.nav-link:hover {
  background-color: #c70000;
}

/*login*/
#login,
#registro {
  background-color: #e92d2d !important;
  border-radius: 20px;
}

/* INDEX */
#index-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.transparent {
  background: none;
  border: none;
  color: aliceblue;
}

/* Títulos */
h1,
h2,
h3 {
  text-align: center;
  margin-top: 1rem;
  color: #ebebeb;
  text-shadow: 0 0 8px rgba(150, 120, 255, 0.6);
}
