{% extends "base.html" %} {% block title %}Noticias{% endblock %} {% block
content %}

<h1 class="text-3xl font-bold mb-6">Noticias</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {% for a in articulos %}
  <a
    href="{{ url_for('noticia_detalle', id=a.id) }}"
    class="bg-secundario rounded-xl border border-gray-700 shadow hover:scale-[1.02] transition"
  >
    <img
      src="{{ url_for('static', filename=a.portada or 'img/placeholder_articulo.jpg') }}"
      class="w-full h-48 object-cover rounded-t-xl"
    />

    <div class="p-4 space-y-2">
      <h2 class="text-xl font-bold">{{ a.titulo }}</h2>

      <p class="text-gray-400 text-sm">
        {{ a.fecha.strftime('%d/%m/%Y') if a.fecha else '' }}
      </p>

      <p class="line-clamp-3 text-gray-300">{{ a.descripcion }}</p>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
